<mat-toolbar>
  <span class="header">
    <a routerLink="">
      My Application
    </a>
  </span>

  <nav *ngIf="!isLoggedIn">
    <ul>
      <li>
        <a
          routerLink="/login"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Login</a
        >
      </li>
      <li>
        <a
          routerLink="/register"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Register</a
        >
      </li>
    </ul>
  </nav>

  <button class="btn btn-danger btn-sm" (click)="handleLogout()" *ngIf="isLoggedIn">Log out</button>
</mat-toolbar>

<!-- The routed views render in the <router-outlet>-->
<div class="body">
  <router-outlet></router-outlet>
</div>
